html {
  font-family: 'sans-serif';
}

h1,
h2 {
  font-weight: normal;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.3rem;
}

/* example UI */

header {
  font-size: 11pt;
  padding: 0.4em;
  border-bottom: 4px solid #f8f8f8b3;
}

/* divides multiple subexamples */
section {
  margin-bottom: 1em;
  outline: 1px dotted #e4e4e4;
}

/* example body */
article {
  margin-top: 1em;
  padding: 0.2em 0;
}

/* description */
p {
  margin: 0 0 1rem;
  padding: 0.2em 0.4em;
}

/* subexample description */
article p {
  background-color: #f8f8f8b3;
}

.help {
  color: #797878;
  background-color: unset;
}

.help:before {
  content: 'INFO: ';
}
